*{
  margin:0;
  padding:0;
}
.containerBack{
  width:100vw;
}
.container{
  height:60vh;
  width:90%;
  border-radius:5px;
  box-shadow:0px 0px 5px #C6CBFF;
  margin:5vw 5vw;
  margin:auto;
}

.dollarUsa{
  color:#FF8409;
  font-size: 27px;
  
}

img{
  margin:auto;
  height:60%;
  width:80vw;
  border-radius:5px;
  display:grid;
  grid-template-columns: auto;
  margin-top:5vw;
  border:5px solid #CD7700
}

h3{
  color:#000000;
  border-bottom:.5px solid #00FFD6;
  width:80%;
 margin-top:5vw;
 margin-left:5vw;
 margin-bottom:5px;
 text-transform: capitalize;
}


span{
  margin:auto;
  color:#050F5B;
  text-transform: capitalize;
 text-align: center;
  
}
.navHeading{
  display:grid;
  grid-template-columns:auto  auto auto auto;
  margin-top:5vw;
}
button{
  border:none;
  background: transparent;
  color:black;
  color:#090420;
  height:8vw;
  width:15vw;
  margin-left:5vw;
  outline:none;
}
button:hover{
  border:none;
  padding-bottom: 8vw;
 border-bottom:5px solid #FF5E00;
  outline:none;
}




.europeanDish{
  display:grid;
  grid-template-columns: auto auto;
}

@media only screen and (min-width:960px){
  .container{
    height:auto;
  }
  img{
    height:80%;
  }
  
  
  
  h3{
   margin-bottom: 5vw;
  }
  span{
   margin-top: -5vw;
   text-align: center;
   padding-left:5vw;
   padding-right: 5vw;
  }
  
  
  
  
  
  
  
  
  
  
}